/* google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Lato:ital,wght@0,300;0,400;1,700&family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    background-size: border-box;
    overflow-x: hidden;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* all input style */
input{
    width:300px;
    height: 30px;
    border-radius: 5px;
    border:0;
    outline-style: none;
    font-size: 18px;
    padding: 0 10px;
}
/* main section */
.account{
    text-align: center;
}
.color{
    color: aqua;
    font-size:50px
}
.container{
    max-width:1180px;
    margin:0 auto;
    padding: 60px 0;
}
.family-account{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left-part{
    width:100%;
}
.left-part img{
    width:90%;
    height: 520px;
}
.right-account-part{
    width:100%;
    background-color:rgba(236, 241, 239, 0.822);
    padding: 20px 40px;
}
.income{
    margin-bottom: 30px;
}
.expenses{
    margin-bottom: 30px;
}
.expenses-money{
    display: flex;
    flex-direction: column;
}

.calculate-button{
    color:#fff;
    background-color: aqua;
    padding:8px 30px;
    border: 0;
    font-weight: 700;
    font-size:18px;
}
.saving-input{
    width:125px;
    height: 30px;
    border-radius: 5px;
    border:0;
    outline-style: none;
    font-size: 18px;
    padding: 0 8px; 
}
.save-button{
    color: #fff;
    background-color: aqua;
    padding:8px 20px;
    border: 0;
    font-weight: 700;
}

/*Media Query*/
/* Mobile view*/
@media (max-width:688px) {
    .family-account{
        grid-template-columns: 1fr;
    }
    .left-part img{
        width: 95%;
        padding: 10px;
    }
    .right-account-part{
        margin-top:20px;
        
    }
}
